/.git
/.github
/.idea
/.vscode
/deploy/*
!/deploy/s6-overlay
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/vendor
_ide_helper.php
.editorconfig
.env
.phpstorm.meta.php
.phpunit.result.cache
docker-compose.yml
docker-compose.dev.yml
start.sh
.release-it.json
.gitattributes
